@using First_Sample.Domain.ViewModels.SiteSetting
@model RoleValidationGuidVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<h1>RoleValidationGuid</h1>
<form asp-controller="SiteSetting" asp-action="RoleValidationGuid" method="post">
    <div class="form-group">
        <label class="control-lable" asp-for="@Model.Value"></label>
        <input readonly="readonly" class="form-control" asp-for="@Model.Value"/>
    </div>
    <div class="form-group">
        <label class="control-lable" asp-for="@Model.LastTimeChenged"></label>
        <input readonly="readonly" class="form-control" asp-for="@Model.LastTimeChenged" />
    </div>

    <button class="btn btn-primary" type="submit">Generate New Guid</button>
</form>